<div class="min-h-screen">
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <section>
      <header class="mb-6">
        <h2 class="text-xl font-semibold text-gray-900">Your Open Donation Requests</h2>
        <p class="mt-1 text-sm text-gray-500">Thank you SO much for your help! A few tips/requests:
        <ul class="mt-2 text-sm text-gray-500 list-disc list-inside space-y-1">
          <li>We have an initial request template, along with many follow-up email templates, in the <%= link_to "Template Zone", templates_path %></li>
          <li>It's <span class="italic">really</span> helpful if you update the status of your requests as you send emails; just click on the little pencil icon below.</li>
          <li>Add notes please!</li>
          <li>You can claim more donation requests <%= link_to "right over here", event_path(Event.where(events: {name: Event::CURRENT_AUCTION_NAME}).first) %> 💖</li>
        </ul>
        </p>
      </header>
      <%= render "donation_requests" %>
    </section>

    <section class="mt-6">
      <header class="mb-6">
        <h2 class="text-xl font-semibold text-gray-900">Donations</h2>
        <p class="mt-1 text-sm text-gray-500">Once you mark a donation request as confirmed, it will show up here. This is where we'll track whether or not we've actually received the item, and eventually whether it's listed on the auction website.</p>
      </header>
      <%= render "donations" %>
    </section>
  </div>
</div>